
*{
  margin: 0;
  padding: 0;
}

html{
  background-color: #FFAEBC;
  color: #555;
  font-family: "Lato","Verdana";
  font-size: 20px;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
}

header{
  min-height: 100vh;
  background-color: #CC89B1;
  background-position: center;
  background-size: cover;
}

.logo{
  margin-top: 10px;
  height: 65px;
  margin-bottom: 10px;
}

.navcon{
  background-color: transparent;
}

.navitem{
  text-transform: uppercase;
  font-size: 100%;
  letter-spacing: 1px;
  transition: 0.5s;
}

.navitem:hover{
  border-bottom: 3.5px solid #C771A4;
}

.navbar-dark .navbar-nav .active>.nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show>.nav-link{
    color: #911F63;
    font-weight: bold;
}

.header-text{
  font-family: "Lato","Verdana";
  background-color: transparent;
  color: #FFF;
}

.headermain{
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: 4px;
  word-spacing: 4px;
  margin-bottom: 30px;
}

.btn:link,
.btn:visited{
  border: 3px solid #AB4682;
  border-radius: 50px;
  text-decoration: none;
  margin-left: 20px;
  color: #fff;
}

.btn-full:link,
.btn-full:visited{
  background-color: #C771A4;
  transition: 0.5s;
}

.btn-full:hover,
.btn-full:active{
  background-color: #CF97B8;
  transition: 0.5s;
}

.btn-ghost:link,
.btn-ghost:visited{
  color: #e67e22;
  transition: 0.5s;
}

.btn-ghost:hover,
.btn-ghost:active{
  background-color: #e36f08;
  color: #fff;
  transition: 0.5s;
}

.carousel-img{
  height: 100vh;
  object-fit: cover;
}
.cardcon{
  background-color: #CC89B1;
  min-height: 500px;
  padding: 20px;
  -webkit-box-shadow: 4px 6px 17px -1px #000000;
  box-shadow: 4px 6px 17px -1px #000000;
}

.card h4{
  color: #fff;
  text-align: center;
  padding: 20px;
  text-transform: uppercase;
  font-size: 100%;
  margin-bottom: -20px;
}

.card p{
  font-size: 73%;
  color: #fff;
}

.ourteam{
  color: #fff;
  text-align: center;
  padding-top: 10px;

}

.OTC-name{
  color: #fff;
  font-size: 120%;
}

.OTC-p{
  font-size: 80%;
  color: #fff;
}

.section2{
  min-height: 90vh;
  background-color: #CC89B1;
}

footer{
  min-height: 10vh;
  background-color: #1c1c1c;
}

.ft{
  color: #fff;
  font-size: 65%;
  padding: 20px;
  margin-bottom: 0;
  padding-bottom: 0;
}

.ft2{
  color: #fff;
  font-size: 90%;
  padding: 20px;
  margin-bottom: 0;
}

.ft2 i{
  color:#CC89B1;
  font-size: 100%;
  margin-right: 10px;
}

.btn-primary{
  color: #fff;
}

.rtbutton{
  position: fixed;
  bottom: 20px;
  right: 10px;
  z-index: 99;
  color:#CC89B1;
}

.rtbutton a:link,
.rtbutton a:visited{
  color:#CC89B1;
}


@media (max-width: 820px){
  .navcon{
    background-color: #1c1c1c;
  }

  .btn{
    font-size: 0.8rem;
  }

  .header-text{
    padding-top: 0;
    margin-bottom: 0;
  }

  .headermain{
    text-size: 1.5rem;
  }

  .ft2{
    font-size: 100%;
    text-align: center;
  }

  .ft2 i{
    font-size: 70%;
  }
}

.section3{
  margin:50px 0;
}
.form-container{
  width: 500px;
  margin: 0 auto;
}

.card-img{
  width:296px;
  max-height:222px;
  object-fit: cover;
}

@media only screen and (max-width:768px){
  .headermain{
    font-size: 3rem;
  }
  .ceuManilaPhoto{
    width: 100%;
  }
  .photo-column{
    margin-bottom: 20px;
  }

  .cardcon{
    width:500px;
    height: 520px;
    margin: 0 auto;
  }

  .card-img{
    width:100%;
    max-height:300px;
    object-fit: cover;
  }


}
